# binding options
on-button-left=exec makoctl menu -n "$id" rofi -dmenu -p "Select action"

# style options
font={{ .font.fixed }} {{ .font.size }}
height=200
width=500

background-color=#1d2021
border-color=#ebdbb2
text-color=#ebdbb2

# mode options
[mode=do-not-disturb]
invisible=1
