export PATH="${HOME}/.local/bin:${PATH}"

# Ref: https://wiki.archlinux.org/title/Systemd/User
#      https://wiki.archlinux.org/title/Environment_variables
dbus-update-activation-environment --systemd PATH
export $(/usr/lib/systemd/user-environment-generators/30-systemd-environment-d-generator | sed '/:$/d; /^$/d' | xargs)

# Ref: https://github.com/funtoo/keychain
eval "$(keychain --eval --systemd)"

# Ref: https://github.com/ohmyzsh/ohmyzsh
export ZSH="${HOME}/.nix-profile/share/oh-my-zsh"
export ZSH_CUSTOM="${HOME}/.oh-my-zsh/custom"

{{- if (not .headless) }}

# Ref: https://wiki.archlinux.org/title/Qt
export QT_QPA_PLATFORMTHEME=qt6ct

# Ref: https://wiki.archlinux.org/title/SSH_keys
export SSH_ASKPASS=/usr/lib/seahorse/ssh-askpass

# Ref: https://github.com/swaywm/sway/issues/3716#issuecomment-503991671
# export vblank_mode=0

{{- end }}
