[Appearance]
style=kvantum-dark

[Fonts]
fixed="{{ .chezmoi.config.data.font.fixed }},{{ .chezmoi.config.data.font.size }}"
general="{{ .chezmoi.config.data.font.general }},{{ .chezmoi.config.data.font.size }}"
