# Ref: https://alacritty.org/config-alacritty.html

[general]
import = ["~/.config/alacritty/themes/gruvbox_dark.toml"]

{{- if (eq .chezmoi.config.data.hosttype "crostini") }}

shell = { program = "/bin/zsh", args = ["--login"] }

{{- else }}

[font]
normal = { family = "{{ .chezmoi.config.data.font.fixed }}" }
size = {{ .chezmoi.config.data.font.size }}

{{- end }}

[mouse]
bindings = [{ mouse = "Middle", action = "None" }]

[scrolling]
history = 0

[window]
padding = { x = 10, y = 10 }
option_as_alt = "Both"
