# Ref: https://alacritty.org/config-alacritty.html

[general]
import = ["~/.config/alacritty/themes/gruvbox_dark.toml"]

{{- if (hasSuffix "-penguin" .chezmoi.hostname) }}

shell = { program = "/bin/zsh", args = ["--login"] }

{{- else }}

[font]
size = 12.0

{{- end }}

[mouse]
bindings = [{ mouse = "Middle", action = "None" }]

[scrolling]
history = 0

[window]
padding = { x = 10, y = 10 }
