[core]
  excludesfile = ignore
  # Ref: https://github.com/dandavison/delta
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[user]
  useConfigOnly = true
  email = {{ .email }}
  name = {{ .name }}
