[Desktop Entry]
Type=Application
Name=OBS Studio
GenericName=Streaming/Recording Software
# Ref: https://github.com/obsproject/obs-studio/issues/10715#issuecomment-2127888300
Exec=env QT_STYLE_OVERRIDE=qt6ct-style obs
Icon=com.obsproject.Studio
Categories=AudioVideo;Recorder;
