[Desktop Entry]
Type=Application
Name=Calibre
GenericName=E-book library management
# Ref: https://manual.calibre-ebook.com/customize.html
Exec=env CALIBRE_USE_SYSTEM_THEME=true calibre --detach %U
Icon=calibre-gui
Categories=Office;
