# Ref: https://ghostty.org/docs/config/reference

confirm-close-surface = false
font-family = "{{ .chezmoi.config.data.font.fixed }}"
font-size = {{ .chezmoi.config.data.font.size }}
# initial-window = false # Ref: https://github.com/ghostty-org/ghostty/discussions/8419
# keybind = "global:cmd+backquote=toggle_quick_terminal"
# quick-terminal-animation-duration = 0
# quick-terminal-size = "95%,95%"
macos-option-as-alt = true
scrollback-limit = 0
theme = "Gruvbox Dark"
