[Unit]
Description=Wayland notification daemon
PartOf=sway-session.target
After=sway-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/mako
ExecReload=/usr/bin/makoctl reload

[Install]
WantedBy=sway-session.target
