[Unit]
Description=Idle manager for Wayland
PartOf=sway-session.target
After=sway-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/swayidle -w

[Install]
WantedBy=sway-session.target
