{
  "editor.emptySelectionClipboard": false,
  "editor.fontFamily": "{{ .chezmoi.config.data.font.fixed }}",
  "editor.fontLigatures": true,
  "editor.renderWhitespace": "all",
  "editor.rulers": [80, 88, 120],
  "extensions.ignoreRecommendations": true,
  "files.associations": {
    ".env": "properties",
    ".env.*": "properties"
  },
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,
  "search.searchOnType": false,
  // "workbench.colorTheme": "Gruvbox Dark Hard",
  "workbench.iconTheme": "material-icon-theme",
  "workbench.startupEditor": "none",
{{- if (eq .chezmoi.config.data.hosttype "crostini") }}
  "terminal.integrated.allowChords": false,
  "terminal.integrated.defaultProfile.linux": "zsh",
  "terminal.integrated.profiles.linux": {
    "zsh": {
      "path": "/app/bin/host-spawn",
      "args": ["zsh", "-l"],
      "icon": "terminal-bash",
      "overrideName": true
    }
  },
  "window.menuBarVisibility": "toggle",
  "window.titleBarStyle": "custom",
  "window.zoomLevel": 0.5,
{{- end }}
{{- if (eq .chezmoi.config.data.hosttype "darwin") }}
  "editor.fontSize": {{ .chezmoi.config.data.font.size }},
  "terminal.integrated.fontSize": {{ .chezmoi.config.data.font.size }},
{{- end }}
{{- if (eq .chezmoi.config.data.hosttype "linux") }}
  "window.menuBarVisibility": "toggle",
  "window.zoomLevel": 1.1,
{{- end }}
  "telemetry.telemetryLevel": "off"
}
